rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Matches any document in the cities collection as well as any document
    // in a subcollection.
    match /trainPath/{document=**} {
      allow read, write: if true;
    }
  }
}
